@page "/"
@using DragonsDinner.Domain.DTO
@rendermode InteractiveServer
@inject ProductosService productosService
@inject CategoriasService categoriasService
@inject CarritosService carritoService
@inject ToastService Toast
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

<link rel=" stylesheet" href="/Estilos/Carrito.css" />
<link rel=" stylesheet" href="/Estilos/Tarjetas.css" />

<!-- font awesome style -->
<link href="css/font-awesome.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="css/style.css" rel="stylesheet" />

<!-- responsive style -->
<link href="css/responsive.css" rel="stylesheet" />

<div class="hero_area">
    <div class="bg-box">
        <img src="images/hero-bg.jpg" alt="">
    </div>
    <!-- header section starts -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="/">
                    <span>Dragon&acute;s Dinner</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <AuthorizeView Roles="Admin">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Gestiones
                                </a>
                                <ul class="dropdown-menu">

                                    <li><a class="nav-link" href="/Productos/Index">Productos <span class="visually-hidden">(current)</span></a></li>
                                    <li><a class="nav-link" href="/Categorias/Index">Categorias;</a></li>
                                    <li> <a class="nav-link" href="/Estados/Index">Estados <span class="visually-hidden">(current)</span> </a></li>
                                    <li> <a class="nav-link" href="/MetodosPagos/Index">Tipos de pagos <span class="visually-hidden">(current)</span> </a></li>
                                </ul>
                            </li>
                        </AuthorizeView>
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Inicio <span class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/DragonsDinner/Menu">Men&uacute;</a>
                        </li>
                        <li class="nav-item">
                            <AuthorizeView>
                                <a class="nav-link" href="/Direcciones/Index">Direcciones <span class="visually-hidden">(current)</span> </a>
                            </AuthorizeView>
                        </li>
                        

                        <AuthorizeView>
                            <Authorized>
                                <li class="nav-item px-3">
                                    <form action="Account/Logout" method="post">
                                        <AntiforgeryToken />
                                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                        <button type="submit" class="nav-link btn btn-link">
                                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Cerrar sesi&Oacute;n
                                        </button>
                                    </form>
                                </li>
                            </Authorized>
                        </AuthorizeView>
                    </ul>
                    <div class="user_option">

                        <div class="user_option">
                            <a href="/Account/Manage" class="user_link">
                                <button type="button" class="btn btn-no-color text-white">
                                    <i class="bi bi-person-circle" aria-hidden="true"></i>
                                </button>
                            </a>
                        </div>

                        <!-- botón Carrito de compras -->
                        <button type="button" class="btn btn-no-color text-white" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                            <i class="bi bi-cart-fill"><span class="badge"> @Carrito.Sum(p => p.Cantidad)</span></i>
                        </button>

                        <!-- Modal carrito de compras -->
                        <AuthorizeView>
                            <NotAuthorized>
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle"><strong>Carrito de compras</strong></h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="() => GuardarCambios()"></button>
                                            </div>
                                            <div class="modal-body text-center">
                                                <i class="bi bi-cart-fill fs-1"></i>
                                                <div>Iniciar sesión o registrarse para ver el carrito</div>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="/Account/Login" class="btn btn-primary">Iniciar Sesión</a>
                                                <a href="/Account/Register" class="btn btn-secondary">Registrarse</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </NotAuthorized>

                            <Authorized>
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle"><strong>Carrito de compra</strong></h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Mostrar los productos del carrito -->
                                                @if (CarritoAMostrar is not null)
                                                {
                                                    @foreach (var detalle in CarritoAMostrar.CarritoDetalle)
                                                    {
                                                        <div class="cart-item d-flex justify-content-between align-items-center">
                                                            <img src="@detalle.Producto.Imagen" alt="@detalle.Producto.Imagen" class="cart-item-img img-fluid">
                                                            <div class="cart-item-details">
                                                                <div class="cart-item-name"><strong>@detalle.Producto.Nombre</strong></div>
                                                                <div class="cart-item-actions">
                                                                    <div class="input-group">
                                                                        <button type="button" class="quantity-button btn btn-outline-secondary" @onclick="() => DecrementarCantidad(detalle)"> - </button>
                                                                        <input type="text" class="quantity-button text-center col-2" @bind="detalle.Cantidad" />
                                                                        <button type="button" class="quantity-button btn btn-outline-secondary" @onclick="() => IncrementarCantidad(detalle)"> + </button>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="cart-item-price">$@detalle.Producto.Precio</div>

                                                            <div>
                                                                <button class="btn btn-danger" @onclick="() => RemoverDetalle(detalle)">
                                                                    <i class="bi bi-x"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    }

                                                    <div class="subtotal mt-3">Subtotal: $@CarritoAMostrar.CarritoDetalle.Sum(d => d.Producto.Precio * d.Cantidad)</div>
                                                }
                                                else
                                                {
                                                    <div>No hay productos en el carrito.</div>
                                                }
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" @onclick="VaciarCarrito">Vaciar carrito</button>
                                                <button type="button" class="btn btn-primary" @onclick="RealizarPedido">Realizar pedido</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </Authorized>
                        </AuthorizeView>



                        <form class="form-inline">
                            <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">
                                <i class="bi bi-search" aria-hidden="true"></i>
                            </button>
                        </form>

                        <AuthorizeView>
                            <TarjetasIndex />
                        </AuthorizeView>

                        <AuthorizeView>
                            <NotAuthorized>
                                <a href="/Account/Login" class="order_online">Iniciar Sesion</a>
                                <a href="/Account/Register" class="order_onlines">Registrarse</a>
                            </NotAuthorized>
                        </AuthorizeView>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section">
        <div id="customCarousel1" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-lg-6">
                                <div class="detail-box">
                                    <h1>Dragons Dinner</h1>
                                    <p>Somos un negocio de comida rápida que ofrece una gran variedad de comida rápida, que deslumbrarán tu paladar!</p>
                                    <div class="btn-box">
                                        <a href="" class="btn1">A&ntilde;adir al carrito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-lg-6">
                                <div class="detail-box">
                                    <h1>Dragons Dinner</h1>
                                    <p>Somos un negocio de comida rápida que ofrece una gran variedad de comida rápida, que deslumbrarán tu paladar!</p>
                                    <div class="btn-box">
                                        <a href="" class="btn1">A&ntilde;adir al carrito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-lg-6">
                                <div class="detail-box">
                                    <h1>Dragons Dinner</h1>
                                    <p>Somos un negocio de comida rápida que ofrece una gran variedad de comida rápida, que deslumbrarán tu paladar!</p>
                                    <div class="btn-box">
                                        <a href="" class="btn1">A&ntilde;adir al carrito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container">
                <ol class="carousel-indicators">
                    <li data-bs-target="#customCarousel1" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#customCarousel1" data-bs-slide-to="1"></li>
                    <li data-bs-target="#customCarousel1" data-bs-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </section>
    <!-- end slider section -->
</div>

<!-- offer section -->

<section class="offer_section layout_padding-bottom">
    <div class="offer_container">
        <div class="container ">
            <div class="row">
                <div class="col-md-6  ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/o1.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Tasty Thursdays
                            </h5>
                            <h6>
                                <span>20%</span> Off
                            </h6>
                            <a href="">
                                A&ntilde;adir al carrito
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                <g>
                                <g>
                                <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                     c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                                        </g>
                                    </g>
                                <g>
                                <g>
                                <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                     C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                     c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                     C457.728,97.71,450.56,86.958,439.296,84.91z" />
                                        </g>
                                    </g>
                                <g>
                                <g>
                                <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                     c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                                        </g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/o2.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Pizza Days
                            </h5>
                            <h6>
                                <span>15%</span> Off
                            </h6>
                            <a href="">
                                A&ntilde;adir al carrito
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                <g>
                                <g>
                                <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                     c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                                        </g>
                                    </g>
                                <g>
                                <g>
                                <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                     C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                     c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                     C457.728,97.71,450.56,86.958,439.296,84.91z" />
                                        </g>
                                    </g>
                                <g>
                                <g>
                                <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                     c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                                        </g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                <g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end offer section -->
<!-- food section -->

<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Nuestro Men&uacute;
            </h2>
        </div>

        <div class="container">
            <div class="overlay">
                <ul class="filters_menu">
                    @foreach (var filtro in Categorias)
                    {
                        <li @onclick="() => SeleccionarFiltro(filtro.Nombre)"
                            class="@(FiltroActivo == filtro.Nombre ? "active" : "")">
                            @filtro.Nombre
                        </li>
                    }
                </ul>

                <div class="filters-content">
                    <div class="row grid">
                        @foreach (var producto in ListProductos)
                        {
                            <div class="col-sm-6 col-lg-4 all">
                                <div class="box">
                                    <div>
                                        <div class="img-box">
                                            <img src="@producto.Imagen" alt="@producto.Nombre" />
                                        </div>
                                        <div class="detail-box">
                                            <h5>@producto.Nombre</h5>
                                            <p>@producto.Descripcion</p>
                                            <div class="options">
                                                <h6>$@producto.Precio.ToString("N2")</h6>
                                                <a href="javascript:void(0)" @onclick="() => AgregarAlCarrito(producto)" class="bi bi-cart-fill text-white"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- end food section -->
<!-- client section -->

<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="carousel-wrap row ">
            <div class="owl-carousel client_owl-carousel">
                <div class="item">
                    <div class="box">
                        <div class="detail-box">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                            <h6>
                                Moana Michell
                            </h6>
                            <p>
                                magna aliqua
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="images/client1.jpg" alt="" class="box-img">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="detail-box">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                            <h6>
                                Mike Hamell
                            </h6>
                            <p>
                                magna aliqua
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="images/client2.jpg" alt="" class="box-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end client section -->
<!-- footer section -->
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Contact Us
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Location
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call +01 1234567890
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                demo@gmail.com
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        Feane
                    </a>
                    <p>
                        Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
                    </p>
                    <div class="footer_social">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Opening Hours
                </h4>
                <p>
                    Everyday
                </p>
                <p>
                    10.00 Am -10.00 Pm
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a><br><br>
                &copy; <span id="displayYear"></span> Distributed By
                <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
            </p>
        </div>
    </div>
</footer>
<!-- footer section -->
<!-- jQery -->

<script src="js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script src="js/bootstrap.js"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<!-- custom js -->
<script src="js/custom.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>

<!-- End Google Map -->
@code {
    private string? currentUrl;
    public List<ProductosDto> ListProductos { get; set; } = new List<ProductosDto>();
    public List<CategoriasDto> Categorias { get; set; } = new List<CategoriasDto>();
    private List<ProductosDto> Carrito { get; set; } = new List<ProductosDto>();
    private List<TarjetasDto> tarjetas { get; set; } = new List<TarjetasDto>();

    private List<CarritosDto> Carritos { get; set; } = new List<CarritosDto>();

    public CarritosDto CarritoAMostrar { get; set; } = new CarritosDto();
    private TarjetasDto nuevaTarjeta { get; set; } = new TarjetasDto();
    public CarritosDetallesDto DetalleActual { get; set; } = new CarritosDetallesDto();


    public string UsuarioLogeado { get; set; } = string.Empty;

    public string FiltroActivo { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var usuario = authState.User;

        if (usuario.Identity is not null && usuario.Identity.IsAuthenticated)
        {
            Console.WriteLine("Usuario autenticado.");

            string? usuarioId = usuario.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

            if (!string.IsNullOrEmpty(usuarioId))
            {
                CarritoAMostrar.UsuarioId = usuarioId;
                UsuarioLogeado = usuarioId;
                var resultado = await carritoService.Listar(usuarioId);

                if (resultado is not null) CarritoAMostrar = resultado;

            }
            else
            {
                Console.WriteLine("No se pudo obtener el ID del usuario.");
            }
        }
        else
        {
            Console.WriteLine("Usuario no autenticado.");
            // Crear un carrito temporal para el usuario no autenticado
            CarritoAMostrar = new CarritosDto
                {
                    CarritoDetalle = new List<CarritosDetallesDto>()
                };
        }

        // Cargar categorías y productos
        Categorias = await categoriasService.Listar(p => true);
        ListProductos = await productosService.Listar(p => true);

        // Evitar duplicados y consolidar los productos en el carrito
        if (CarritoAMostrar.CarritoDetalle != null && CarritoAMostrar.CarritoDetalle.Count > 0)
        {
            foreach (var detalle in CarritoAMostrar.CarritoDetalle)
            {
                // Verificar si el producto ya está en el carrito
                var productoExistente = CarritoAMostrar.CarritoDetalle.FirstOrDefault(d => d.Producto.ProductoId == detalle.Producto.ProductoId);

                if (productoExistente != null)
                {
                    // Si el producto ya está en el carrito, solo sumamos la cantidad
                    productoExistente.Cantidad += detalle.Cantidad;
                    productoExistente.Costo = productoExistente.Cantidad * productoExistente.Costo;
                }
                else
                {
                    // Si no existe, agregamos el producto al carrito
                    CarritoAMostrar.CarritoDetalle.Add(detalle);
                }
            }
        }
    }

    public async Task SeleccionarFiltro(string categoriaNombre)
    {
        FiltroActivo = categoriaNombre;

        // Filtrar productos según la categoría seleccionada
        if (!string.IsNullOrEmpty(FiltroActivo))
        {
            ListProductos = await productosService.Listar(p => p.Categoria.Nombre == FiltroActivo);
        }
        else
        {
            // Si no hay filtro, mostrar todos los productos
            ListProductos = await productosService.Listar(p => true);
        }

        // Forzar la actualización de la interfaz para reflejar el filtro
        StateHasChanged();
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }


    public async void IncrementarCantidad(CarritosDetallesDto detalle)
    {
        var existente = CarritoAMostrar.CarritoDetalle.FirstOrDefault(d => d.Producto.ProductoId == detalle.Producto.ProductoId);
        if (existente != null)
        {
            existente.Cantidad++;
            existente.Costo = existente.Cantidad * existente.Producto.Precio; // Actualizar el costo
        }
        await carritoService.Guardar(CarritoAMostrar);
    }

    public async void DecrementarCantidad(CarritosDetallesDto detalle)
    {
        var existente = CarritoAMostrar.CarritoDetalle.FirstOrDefault(d => d.Producto.ProductoId == detalle.Producto.ProductoId);
        if (existente != null)
        {
            if (existente.Cantidad > 1)
            {
                existente.Cantidad--;
                existente.Costo = existente.Cantidad * existente.Producto.Precio;
            }
            else
            {
                CarritoAMostrar.CarritoDetalle.Remove(existente);
            }
        }
        await carritoService.Guardar(CarritoAMostrar);
    }


    public async Task AgregarAlCarrito(ProductosDto producto)
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        // Verificar si el usuario no está autenticado
        if (user.Identity == null || !user.Identity.IsAuthenticated)
        {
            Toast.Notify(new(ToastType.Warning, $"Debe iniciar sesión para guardar una tarjeta."));
            await Task.Delay(4000);
            NavigationManager.NavigateTo("/Account/Login");
            return;
        }

        // Obtener el ID del usuario autenticado
        string? usuarioId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        if (string.IsNullOrEmpty(usuarioId))
        {
            Toast.Notify(new(ToastType.Danger, $"No se pudo obtener el ID del usuario."));
            return;
        }

        // Asignar el ID del usuario al carrito
        CarritoAMostrar.UsuarioId = usuarioId;

        // Verificar que el producto no sea nulo
        if (producto == null)
        {
            throw new ArgumentNullException(nameof(producto), "El producto no puede ser nulo.");
        }

        // Inicializar el carrito si es necesario
        if (CarritoAMostrar == null)
        {
            CarritoAMostrar = new CarritosDto
                {
                    UsuarioId = usuarioId // Asigna el ID del usuario al carrito
                };
        }

        // Inicializar el detalle del carrito si es necesario
        if (CarritoAMostrar.CarritoDetalle == null)
        {
            CarritoAMostrar.CarritoDetalle = new List<CarritosDetallesDto>();
        }

        // Buscar si el producto ya existe en el carrito
        var existente = CarritoAMostrar.CarritoDetalle.FirstOrDefault(d => d.Producto.ProductoId == producto.ProductoId);
        if (existente == null)
        {
            // Si no existe, agregar un nuevo detalle al carrito
            CarritoAMostrar.CarritoDetalle.Add(new CarritosDetallesDto
                {
                    Producto = producto.Mappear(),
                    Cantidad = 1,
                    Costo = producto.Precio
                });
        }
        else
        {
            // Si ya existe, incrementar la cantidad y actualizar el costo
            existente.Cantidad++;
            existente.Costo = existente.Cantidad * existente.Producto.Precio;
        }

        // Verificar que carritoService no sea nulo
        if (carritoService == null)
        {
            throw new InvalidOperationException("El servicio de carrito no ha sido inicializado.");
        }

        // Guardar el carrito
        await carritoService.Guardar(CarritoAMostrar);

        Toast.Notify(new(ToastType.Success, $"Producto agregado al carrito correctamente."));
    }

    public async void VaciarCarrito()
    {
        CarritoAMostrar.CarritoDetalle.Clear();
        await carritoService.Guardar(CarritoAMostrar);
    }

    public async void RemoverDetalle(CarritosDetallesDto detalle)
    {
        CarritoAMostrar.CarritoDetalle.Remove(detalle);
        DetalleActual.Producto.ProductoId = detalle.Producto.ProductoId;
        DetalleActual.Cantidad = detalle.Cantidad;
        DetalleActual.Producto.Precio = detalle.Producto.Precio;
        await carritoService.Guardar(CarritoAMostrar);

    }

    public async void RealizarPedido()
    {
        CarritoAMostrar.Comprado = true;
        var result = await carritoService.Guardar(CarritoAMostrar);
        if (result)
        {
            Toast.Notify(new(ToastType.Success, $"Se realizó el pedido correctamente."));
            CarritoAMostrar = new();
            CarritoAMostrar.UsuarioId = UsuarioLogeado;
        }


    }

    private async Task GuardarCambios()
    {
        // Aseguramos que CarritoF no sea null
        if (CarritoAMostrar != null)
        {

            if (!CarritoAMostrar.CarritoDetalle.Any())
            {
                await carritoService.Eliminar(CarritoAMostrar.CarritoId); // Eliminar el carrito vacío de la base de datos
                CarritoAMostrar = new(); // Reiniciar el carrito en memoria
                Console.WriteLine("El carrito estaba vacío y fue eliminado.");
            }
            else
            {
                // Guardar el carrito en la base de datos
                await carritoService.Guardar(CarritoAMostrar);
                Console.WriteLine("Carrito sincronizado con la base de datos.");
            }
        }

    }

}