@page "/DragonsDinner/Menu"
@using DragonsDinner.Domain.DTO
@rendermode InteractiveServer
@inject ProductosService productosService
@inject CategoriasService categoriasService
@inject NavigationManager NavigationManager

<link rel=" stylesheet" href="/Estilos/Carrito.css" />

<!-- Basic -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- Site Metas -->
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="shortcut icon" href="images/favicon.png" type="">

<title> Dragon&acute;´s Dinner </title>

<!-- bootstrap core css -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

<!--owl slider stylesheet -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<!-- nice select  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
<!-- font awesome style -->
<link href="css/font-awesome.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="css/style.css" rel="stylesheet" />
<!-- responsive style -->
<link href="css/responsive.css" rel="stylesheet" />


<div class="sub_page"
    <div class="hero_area">
        <div class="bg-box">
            <img src="images/hero-bg.jpg" alt="">
        </div>
        <!-- header section strats -->
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="/">
                        <span>
                            Dragon&acute;s Dinner
                        </span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav  mx-auto ">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Inicio </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/DragonsDinner/Menu">Men&uacute; <span class="sr-only">(current)</span> </a>
                            </li>

                        <li class="nav-item">
                            <AuthorizeView>
                                <a class="nav-link" href="/Direcciones/Index">Direcciones <span class="visually-hidden">(current)</span> </a>
                            </AuthorizeView>
                        </li>
                            <AuthorizeView>
                                <Authorized>
                                    <div class="nav-item px-3">
                                        <form action="Account/Logout" method="post">
                                            <AntiforgeryToken />
                                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                            <button type="submit" class="nav-link">
                                                <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Cerrar sesi&Oacute;n
                                            </button>
                                        </form>
                                    </div>
                                </Authorized>
                            </AuthorizeView>
                        </ul>
                        <div class="user_option">
                            <a href="" class="user_link">
                                <i class="bi bi-person-circle" aria-hidden="true"></i>
                            </a>
                        <a>
                            <!-- botón Carrito de compras -->
                            <button type="button" class="btn btn-no-color text-white" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                                <i class="bi bi-cart-fill"><span class="badge">@Carrito.Sum(p => p.Cantidad)</span></i>
                            </button>

                            <AuthorizeView>
                                <NotAuthorized>
                                    <!-- Modal carrito de compras -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle"><strong>Carrito de compras</strong></h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <i class="bi bi-cart-fill fs-1"></i>
                                                    <div>Iniciar sesión o registrarse para ver el carrito</div>
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="/Account/Login" class="btn btn-primary">
                                                        Iniciar Sesión
                                                    </a>
                                                    <a href="/Account/Register" class="btn btn-secondary">
                                                        Registrarse
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </NotAuthorized>

                                <Authorized>
                                    <!-- Modal carrito de compras -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle"><strong>Carrito de compra</strong></h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <!-- Mostrar los productos del carrito -->
                                                        @foreach (var producto in Carrito)
                                                        {
                                                            <div class="cart-item d-flex justify-content-between align-items-center">
                                                                <img src="@producto.Imagen" alt="@producto.Nombre" class="cart-item-img img-fluid">
                                                                <div class="cart-item-details">
                                                                    <div class="cart-item-name"><strong>@producto.Nombre</strong></div>
                                                                    <div class="cart-item-actions">
                                                                        <div class="input-group">
                                                                            <!-- Botón para decrementar la cantidad -->
                                                                            <button type="button" class="quantity-button btn btn-outline-secondary" @onclick="() => DescrementarCantidad(producto)"> - </button>
                                                                            <!-- Input para la cantidad, enlazado con la propiedad Cantidad -->
                                                                            <input type="text" class="quantity-button text-center col-2" @bind="producto.Cantidad" />
                                                                            <!-- Botón para incrementar la cantidad -->
                                                                            <button type="button" class="quantity-button btn btn-outline-secondary" @onclick="() => IncrementarCantidad(producto)"> + </button>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- Precio del artículo -->
                                                                <div class="cart-item-price">$@producto.Precio</div>

                                                                <!-- Icono de eliminar el artículo -->
                                                                <div>
                                                                    <button class="btn btn-danger" @onclick="() => EliminarDelCarrito(producto)">
                                                                        <i class="bi bi-x"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        }

                                                    <!-- Subtotal del carrito -->
                                                    <div class="subtotal mt-3">Subtotal: $@Carrito.Sum(p => p.Precio * p.Cantidad)</div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" @onclick="VaciarCarrito">Vaciar carrito</button>
                                                    <button type="button" class="btn btn-primary" @onclick="RealizarPedido">Realizar pedido</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </Authorized>
                            </AuthorizeView>
                        </a>

                            @*Credit-card-modal*@
                            <AuthorizeView>
                                <TarjetasIndex />
                            </AuthorizeView>

                            <AuthorizeView>
                                <NotAuthorized>
                                    <a href="/Account/Login" class="order_online">
                                        Iniciar Sesion
                                    </a>

                                    <a href="/Account/Register" class="order_onlines">
                                        Registrarse
                                    </a>
                                </NotAuthorized>
                            </AuthorizeView>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
    </div>

    <!-- food section -->

    <section class="food_section layout_padding-bottom">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Nuestro Men&uacute;
                </h2>
            </div>

            <div class="container">
                <div class="overlay">
                    <ul class="filters_menu">
                        @foreach (var filtro in Categorias)
                        {
                                    <li @onclick="() => SeleccionarFiltro(filtro.Nombre)"
                                        class="@(FiltroActivo == filtro.Nombre ? "active" : "")">
                                @filtro.Nombre
                                    </li>
                        }
                    </ul>

                    <div class="filters-content">
                        <div class="row grid">
                            @foreach (var producto in ListProductos)
                            {
                                        <div class="col-sm-6 col-lg-4 all">
                                            <div class="box">
                                                <div>
                                                    <div class="img-box">
                                                        <img src="@producto.Imagen" alt="@producto.Nombre" />
                                                    </div>
                                                    <div class="detail-box">
                                                        <h5>@producto.Nombre</h5>
                                                        <p>@producto.Descripcion</p>
                                                        <div class="options">
                                                            <h6>$@producto.Precio.ToString("N2")</h6>
                                                        <a href="javascript:void(0)" @onclick="() => AgregarAlCarrito(producto)" class="bi bi-cart-fill text-white"></a>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- end food section -->
    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>
                            Contact Us
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Location
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Call +01 1234567890
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    demo@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a href="" class="footer-logo">
                            Feane
                        </a>
                        <p>
                            Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
                        </p>
                        <div class="footer_social">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>
                        Opening Hours
                    </h4>
                    <p>
                        Everyday
                    </p>
                    <p>
                        10.00 Am -10.00 Pm
                    </p>
                </div>
            </div>
            <div class="footer-info">
                <p>
                    &copy; <span id="displayYear"></span> All Rights Reserved By
                    <a href="https://html.design/">Free Html Templates</a><br><br>
                    &copy; <span id="displayYear"></span> Distributed By
                    <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
                </p>
            </div>
        </div>
    </footer>
    <!-- footer section -->
    <!-- jQery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <!-- nice select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <!-- End Google Map -->
    </div>

@code {
    private string? currentUrl;
    public List<ProductosDto> ListProductos { get; set; } = new List<ProductosDto>();
    public List<CategoriasDto> Categorias { get; set; } = new List<CategoriasDto>();
    private List<ProductosDto> Carrito { get; set; } = new List<ProductosDto>();

    public string FiltroActivo { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }
    protected override async Task OnInitializedAsync()
    {
        // Cargar todas las categorías y productos al inicializar el componente
        Categorias = await categoriasService.Listar(p => true);
        ListProductos = await productosService.Listar(p => true);
    }

    public async Task SeleccionarFiltro(string categoriaNombre)
    {
        FiltroActivo = categoriaNombre;

        // Filtrar productos según la categoría seleccionada
        if (!string.IsNullOrEmpty(FiltroActivo))
        {
            ListProductos = await productosService.Listar(p => p.Categoria.Nombre == FiltroActivo);
        }
        else
        {
            // Si no hay filtro, mostrar todos los productos
            ListProductos = await productosService.Listar(p => true);
        }

        // Forzar la actualización de la interfaz para reflejar el filtro
        StateHasChanged();
    }
    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    public void IncrementarCantidad(ProductosDto producto)
    {
        var existente = Carrito.FirstOrDefault(p => p.ProductoId == producto.ProductoId);
        if (existente != null)
        {
            existente.Cantidad++;
        }
    }

    public void DescrementarCantidad(ProductosDto producto)
    {
        var existente = Carrito.FirstOrDefault(p => p.ProductoId == producto.ProductoId);
        if (existente != null && existente.Cantidad > 1)
        {
            existente.Cantidad--;
        }
        else
        {
            Carrito.Remove(producto);
        }
    }

    public void AgregarAlCarrito(ProductosDto producto)
    {
        var existente = Carrito.FirstOrDefault(p => p.ProductoId == producto.ProductoId);
        if (existente == null)
        {
            Carrito.Add(new ProductosDto
                {
                    ProductoId = producto.ProductoId,
                    Nombre = producto.Nombre,
                    Descripcion = producto.Descripcion,
                    Imagen = producto.Imagen,
                    Precio = producto.Precio,
                    Cantidad = 1
                });
        }
        else
        {
            existente.Cantidad++;
        }
    }

    public void EliminarDelCarrito(ProductosDto producto)
    {
        Carrito.Remove(producto);
    }

    public void VaciarCarrito()
    {
        Carrito.Clear();
    }

    public void RealizarPedido()
    {
        // Lógica para realizar el pedido, como procesar pago o enviar a base de datos
    }

}